<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="iExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <userSettings>
    <iExplorer.Properties.Settings>
      <setting name="LocalBookmarks" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>C:\</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DoNotRecopyDuplicates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableDiskModeHijacking" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="iTunesMusicLibraryXMLPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ImportTracksToiExplorerPlaylist" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckiTunesForExistingTracks" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckForUpdatesAtStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="iTunesMetadataTitle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="iTunesMetadataArtist" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="iTunesMetadataAlbum" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="iTunesMetadataYear" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="iTunesMetadataTrackNumber" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="iTunesMetadataRating" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="iTunesMetadataPlayCount" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="iTunesMetadataDiscNumber" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="iTunesMetadataAlbumArtist" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="iTunesMetadataComposer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="iTunesMetadataComment" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="iTunesMetadataDiscCount" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DoAutomounting" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoMountForAnyDevice" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="iTunesMetadataTrackCount" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="iTunesMetadataStartTime" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="iTunesMetadataStopTime" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="iTunesMetadataGenre" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowInBackground" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DoNotDuplicateReferencesInPlaylists" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MediaTransferDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="MediaTransferFilePathFormat" serializeAs="String">
        <value>\$a\$b\$n $t</value>
      </setting>
      <setting name="RegistrationStatus" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DiskMountFreeModeByteCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShowLocalDriveInNavBar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnLoginStartupDontOpenWindow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AcceptedMediaFolderWarning" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AcceptedRootFolderWarning" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SplitPDFMessages" serializeAs="String">
        <value>medium</value>
      </setting>
      <setting name="MessagesPDFShowAllParticipants" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowOnlyAppsWithFileAccess" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MessagesPDFShowParticipantAddress" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DidCopyKeyFromIE3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="callUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MessagesPDFIncludeHeader" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PhoneNumberFormatting" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CreateNewBackupRootDirectory" serializeAs="String">
        <value />
      </setting>
    </iExplorer.Properties.Settings>
  </userSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>